
.navbar {
    border-bottom: 4px solid white;
}

.h1 {
    color: rgba(0, 0, 110, 0.671);
    font-weight: bolder;
}


.welkom{
    background-image: url(/img/Stacked\ Wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
